In [3]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import requests
from urllib.parse import urlencode

In [4]:
# Чтение данных из облака
def download_link(public_key):
       base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
       final_url = base_url + urlencode(dict(public_key=public_key))
       response = requests.get(final_url)
       download_url = response.json()['href']
       return download_url

In [5]:
df = pd.read_csv(download_link('https://disk.yandex.ru/d/pV0bTSI8g2imOQ'))

Сколько пропущенных значений встретилось в датасете?

In [6]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

Использовать полное название машины – не самый хороший вариант, поэтому создадим новый признак – марку автомобиля (company). Для этого используйте столбец CarName, разбейте значения ячеек по пробелу и запишите в колонку первый элемент. Например:

'audi 100 ls' → 'audi'
Сколько всего уникальных марок машины встречается в датасете? Столбец CarName с полным названием машины удалите из датасета, а также car_ID, они не пригодятся для дальнейшего анализа.

In [7]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
df['company'] = df.CarName.apply(lambda x: x.split(' ')[0])

In [9]:
df.company.nunique()

28

Теперь внимательнее посмотрите на уникальные значения company. Часть из них оказалась с ошибками!

'maxda' → 'mazda'
'Nissan' → 'nissan'
'porcshce' → 'porsche'
'toyouta' → 'toyota'
'vokswagen' & 'vw' → 'volkswagen'
Сколько уникальных производителей осталось в итоге?

In [10]:
df.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

Отлично! Чтобы не перегружать модель большим количеством предикторов, оставим только часть из них:

'company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower'
также не забыв про то, что мы предсказываем – 'price'. 

После этого посчитайте корреляцию между price и другими переменными. Чему равна корреляция между price и horsepower? Ответ округлите до 2 знаков после точки.

In [11]:
df_to_analyze = df[['company', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'wheelbase', 'carlength', 
                    'carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio', 'horsepower', 'price']]

In [12]:
df_to_analyze.corr()

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price
wheelbase,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294,0.577816
carlength,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623,0.682920
carwidth,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732,0.759325
curbweight,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739,0.835305
enginesize,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769,0.874145
boreratio,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677,0.553173
horsepower,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000,0.808139
price,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139,1.000000

In [13]:
df_to_analyze.head()

,company,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower,price
0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111,13495.0
1,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111,16500.0
2,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154,16500.0
3,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102,13950.0
4,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115,17450.0

In [14]:
df_to_analyze.dtypes

company            object
fueltype           object
aspiration         object
carbody            object
drivewheel         object
wheelbase         float64
carlength         float64
carwidth          float64
curbweight          int64
enginetype         object
cylindernumber     object
enginesize          int64
boreratio         float64
horsepower          int64
price             float64
dtype: object

In [15]:
df_dummy = pd.get_dummies(data=df_to_analyze[['company', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginetype', 'cylindernumber']],
                            drop_first = True)

In [16]:
df_dummy.head()

,company_alfa-romero,company_audi,company_bmw,company_buick,company_chevrolet,company_dodge,company_honda,company_isuzu,company_jaguar,company_maxda,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [17]:
non_categorical = df_to_analyze[['wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize', 'boreratio', 'horsepower', 'price']]

In [18]:
ready_to_feet_df = pd.concat([non_categorical, df_dummy], axis=1)

In [19]:
ready_to_feet_df.columns

Index(['wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize',
       'boreratio', 'horsepower', 'price', 'company_alfa-romero',
       'company_audi', 'company_bmw', 'company_buick', 'company_chevrolet',
       'company_dodge', 'company_honda', 'company_isuzu', 'company_jaguar',
       'company_maxda', 'company_mazda', 'company_mercury',
       'company_mitsubishi', 'company_nissan', 'company_peugeot',
       'company_plymouth', 'company_porcshce', 'company_porsche',
       'company_renault', 'company_saab', 'company_subaru', 'company_toyota',
       'company_toyouta', 'company_vokswagen', 'company_volkswagen',
       'company_volvo', 'company_vw', 'fueltype_gas', 'aspiration_turbo',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd', 'enginetype_dohcv',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two'],
      dtype='object')

Сначала построим небольшую модель всего с одним предиктором цены (price) – horsepower.

Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [20]:
results = smf.ols('price ~ horsepower', ready_to_feet_df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Wed, 06 Jul 2022   Prob (F-statistic):           1.48e-48
Time:                        22:43:09   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Теперь – две модели:

модель со всеми предикторами
модель со всеми предикторами, кроме марок машин
Обратите внимание на изменения в R 
2
 , коэффициентах и их значимости. Какую модель лучше оставить?

In [21]:
X = sm.add_constant(ready_to_feet_df.drop(columns='price'))
Y = ready_to_feet_df.price
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.947
Method:                 Least Squares   F-statistic:                     70.67
Date:                Wed, 06 Jul 2022   Prob (F-statistic):           3.98e-84
Time:                        22:43:09   Log-Likelihood:                -1801.8
No. Observations:                 205   AIC:                             3710.
Df Residuals:                     152   BIC:                             3886.
Df Model:                          52
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                 -3.729e+04   1.23e+04     -3.025      0.003   -6.16e+04   -1.29e+04
wheelbase               135.3746     77.904      1.738      0.084     -18.539     289.289
carlength              -113.2444     49.529     -2.286      0.024    -211.098     -15.391
carwidth                835.0375    220.433      3.788      0.000     399.530    1270.545
curbweight                4.1605      1.606      2.590      0.011       0.987       7.334
enginesize               59.2528     23.998      2.469      0.015      11.840     106.666
boreratio             -4299.0285   1782.042     -2.412      0.017   -7819.798    -778.259
horsepower               34.9164     18.327      1.905      0.059      -1.293      71.126
company_alfa-romero    2851.6989   2452.891      1.163      0.247   -1994.462    7697.860
company_audi           2943.6774   2399.396      1.227      0.222   -1796.794    7684.149
company_bmw            1.054e+04   2198.169      4.795      0.000    6196.995    1.49e+04
company_buick          5953.0954   2847.535      2.091      0.038     327.237    1.16e+04
company_chevrolet       466.2557   2294.692      0.203      0.839   -4067.353    4999.865
company_dodge          -445.3438   2008.326     -0.222      0.825   -4413.182    3522.494
company_honda           240.8296   1984.419      0.121      0.904   -3679.775    4161.434
company_isuzu          1652.2667   2129.251      0.776      0.439   -2554.482    5859.015
company_jaguar         5331.5953   3091.691      1.724      0.087    -776.639    1.14e+04
company_maxda           -31.0741   2297.739     -0.014      0.989   -4570.703    4508.555
company_mazda          1539.5140   1973.224      0.780      0.436   -2358.973    5438.001
company_mercury        -132.2553   2879.850     -0.046      0.963   -5821.958    5557.447
company_mitsubishi    -1089.2096   1984.685     -0.549      0.584   -5010.339    2831.920
company_nissan         1179.5349   1935.488      0.609      0.543   -2644.396    5003.466
company_peugeot        -694.0821   2267.862     -0.306      0.760   -5174.683    3786.519
company_plymouth       -460.4264   2024.764     -0.227      0.820   -4460.741    3539.888
company_porcshce       5549.4506   3769.569      1.472      0.143   -1898.064     1.3e+04
company_porsche        7459.1616   2902.972      2.569      0.011    1723.778    1.32e+04
company_renault        -292.1060   2351.329     -0.124      0.901   -4937.612    4353.400
company_saab           3307.9718   2176.843      1.520      0.131    -992.803    7608.747
company_subaru        -9735.6399   3671.579     -2.652      0.009    -1.7e+04   -2481.723
company_toyota            5.9887   1937.368      0.003      0.998   -3821.658    3833.635
company_toyouta       -1222.1759   2861.968     -0.427      0.670   -6876.548    4432.196
company_vokswagen      -672.7108   2736.969     -0.246      0.806   -6080.124    4734.702
company_volkswagen      170.6396   2012.924      0.085      0.933   -3806.282    4147.561
company_volvo          2682.8604   2155.087      1.245      0.215   -1574.933    6940.654
company_vw             1550.4888   2384.125      0.650      0.516   -3159.813    6260.790
fueltype_gas           -318.8558    933.832     -0.341      0.733   -2163.823    1526.111
aspiration_turbo        590.0966    689.957      0.855      0.394    -773.048    1953.241
carbody_hardtop       -1997.5142   1317.135     -1.517      0.131   -4599.769     604.741
carbody_hatchback     -2536.1871   1196.673     -2.119      0.036   -4900.447    -171.927
carbody_sedan         -1716.2422   1263.046     -1.359      0.176   -4211.634     779.149
carbody_wagon         -2204.3555   1326.683     -1.662      0.099   -4825.475     416.764
drivewheel_fwd         -143.3355    897.773     -0.160      0.873   -1917.060    1630.389
drivewheel_rwd          300.5001   1051.426      0.286      0.775   -1776.795    2377.795
enginetype_dohcv      -9160.7085   4414.618     -2.075      0.040   -1.79e+04    -438.774
enginetype_l           -516.1313   1635.004     -0.316      0.753   -3746.399    2714.136
enginetype_ohc         -376.3354   1075.943     -0.350      0.727   -2502.070    1749.399
enginetype_ohcf        1.087e+04   2863.495      3.796      0.000    5212.876    1.65e+04
enginetype_ohcv       -2717.7762   1272.132     -2.136      0.034   -5231.120    -204.432
enginetype_rotor       -567.2206   2152.785     -0.263      0.793   -4820.465    3686.024
cylindernumber_five   -5845.6014   2960.191     -1.975      0.050   -1.17e+04       2.829
cylindernumber_four   -4478.3944   3625.460     -1.235      0.219   -1.16e+04    2684.406
cylindernumber_six    -5962.2574   2683.427     -2.222      0.028   -1.13e+04    -660.628
cylindernumber_three    177.9508   2989.756      0.060      0.953   -5728.893    6084.794
cylindernumber_twelve -8321.3238   3669.368     -2.268      0.025   -1.56e+04   -1071.775
cylindernumber_two     -567.2206   2152.785     -0.263      0.793   -4820.465    3686.024
==============================================================================
Omnibus:                       83.233   Durbin-Watson:                   1.418
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              538.248
Skew:                           1.396   Prob(JB):                    1.32e-117
Kurtosis:                      10.431   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [22]:
X = sm.add_constant(ready_to_feet_df.drop(columns=['price', 'company_alfa-romero',
       'company_audi', 'company_bmw', 'company_buick', 'company_chevrolet',
       'company_dodge', 'company_honda', 'company_isuzu', 'company_jaguar',
       'company_maxda', 'company_mazda', 'company_mercury',
       'company_mitsubishi', 'company_nissan', 'company_peugeot',
       'company_plymouth', 'company_porcshce', 'company_porsche',
       'company_renault', 'company_saab', 'company_subaru', 'company_toyota',
       'company_toyouta', 'company_vokswagen', 'company_volkswagen',
       'company_volvo', 'company_vw',
       'carbody_hardtop']))
Y = ready_to_feet_df.price
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.911
Model:                            OLS   Adj. R-squared:                  0.898
Method:                 Least Squares   F-statistic:                     72.93
Date:                Wed, 06 Jul 2022   Prob (F-statistic):           2.12e-80
Time:                        22:43:09   Log-Likelihood:                -1885.0
No. Observations:                 205   AIC:                             3822.
Df Residuals:                     179   BIC:                             3908.
Df Model:                          25
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                 -1.506e+04   1.31e+04     -1.146      0.253    -4.1e+04    1.09e+04
wheelbase                25.4951     86.196      0.296      0.768    -144.596     195.586
carlength               -66.8898     50.637     -1.321      0.188    -166.812      33.032
carwidth                560.2195    256.744      2.182      0.030      53.586    1066.853
curbweight                4.3519      1.727      2.520      0.013       0.944       7.760
enginesize               25.6765     22.279      1.153      0.251     -18.287      69.640
boreratio             -1913.6949   1750.914     -1.093      0.276   -5368.782    1541.393
horsepower               82.9002     16.873      4.913      0.000      49.605     116.195
fueltype_gas          -2265.8794    987.031     -2.296      0.023   -4213.593    -318.166
aspiration_turbo      -1253.9900    796.784     -1.574      0.117   -2826.289     318.308
carbody_hatchback     -2416.9148    937.962     -2.577      0.011   -4267.799    -566.030
carbody_sedan          -979.1103    969.830     -1.010      0.314   -2892.881     934.660
carbody_wagon         -2085.2801   1165.084     -1.790      0.075   -4384.347     213.787
drivewheel_fwd          650.9496   1127.959      0.577      0.565   -1574.858    2876.757
drivewheel_rwd         2189.1329   1239.321      1.766      0.079    -256.426    4634.692
enginetype_dohcv       -1.85e+04   4568.307     -4.050      0.000   -2.75e+04   -9487.875
enginetype_l           1744.3083   1339.553      1.302      0.195    -899.039    4387.656
enginetype_ohc         3599.4914    894.252      4.025      0.000    1834.858    5364.125
enginetype_ohcf        4910.7844   1391.511      3.529      0.001    2164.907    7656.661
enginetype_ohcv       -5539.4701   1345.920     -4.116      0.000   -8195.381   -2883.559
enginetype_rotor      -6209.3037   2071.726     -2.997      0.003   -1.03e+04   -2121.155
cylindernumber_five   -1.506e+04   2891.457     -5.209      0.000   -2.08e+04   -9354.851
cylindernumber_four   -1.735e+04   3253.434     -5.331      0.000   -2.38e+04   -1.09e+04
cylindernumber_six    -1.272e+04   2284.347     -5.567      0.000   -1.72e+04   -8209.786
cylindernumber_three  -1.055e+04   4787.620     -2.204      0.029      -2e+04   -1103.629
cylindernumber_twelve -1.218e+04   3433.635     -3.547      0.000    -1.9e+04   -5404.734
cylindernumber_two    -6209.3037   2071.726     -2.997      0.003   -1.03e+04   -2121.155
==============================================================================
Omnibus:                       18.925   Durbin-Watson:                   1.242
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               65.459
Skew:                           0.161   Prob(JB):                     6.11e-15
Kurtosis:                       5.750   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)